* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgb(21, 20, 34) 0%,
    rgb(28, 25, 40) 30%,
    rgb(35, 30, 50) 60%,
    rgb(42, 33, 60) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-transform: uppercase;
}

#bg {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -3;
}

#bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  user-select: none;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  text-align: center;
}

.container {
  width: 100%;
  margin: 8vh auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.sub {
  text-align: center;
  text-transform: uppercase;
}

.sub > p {
  margin-top: 4vh;
}

.sub div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.sub div img {
  width: 120px;
}

.sub div p {
  color: hsl(345, 95%, 68%);
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  font-weight: 900;
}

.top {
  transform-origin: bottom center;
  /* animation: flipDown 1s forwards ease-in-out infinite; */
}

.bottom {
  transform-origin: top center;
  /* animation: flipUp 1s forwards ease-in-out infinite; */
}

/* @keyframes flipDown {
  0% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes flipUp {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
} */

@media (max-width: 580px) {
  .sub div img {
    width: 100%;
  }

  .sub div p {
    font-size: 50px;
  }

  .sub {
    font-size: 10px;
  }

  h1 {
    word-wrap: break-word;
  }
}

@media (max-width: 420px) {
  .sub {
    width: 50px;
  }
  .sub div p {
    font-size: 30px;
  }

  h1 {
    word-wrap: break-word;
  }
}

@media (max-width: 320px) {
  .sub div img {
    width: 40px;
  }
}

@media (max-width: 267px) {
  .sub div img {
    width: 30px;
  }

  .container {
    gap: 1vh;
  }

  .sub div p {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }
}

footer {
  position: fixed;
  bottom: 5%;
  z-index: 1000;
  background: transparent;
  width: 100%;
}

footer img {
  margin: 10px;
}

img {
  user-select: none;
}
